<%- include("partials/header2.ejs") %>
<br><br><br><br>

 <div class="flex-container-cn">
    <p>Search By Cocktail Name</p>
    <form action="cocktail_name_result" method="post">
        <input type="text" name="cocktailrequested" placeholder="Cocktail Name" class="takinginput" required><br>
        <button type="submit" value="CocktailNameSearch" name="choice" class="custombutton">SEARCH</button><br>
    </form>
 </div>


<br><br><br><br>
<%- include("partials/footer2.ejs") %>